/*Initial styling*/
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@300;400;700&display=swap");

html {
  scroll-behavior: smooth;
}
*,
body {
  font-family: "Oxygen", sans-serif;
  font-family: "Oxygen Mono", monospace;
  font-size: 10px;
}

/*Header styling*/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 15vw;
  background-color: #f5f5ef;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links a {
  font-size: 1.6rem;
  padding-left: 4vw;
  text-decoration: none;
  color: #3e3734;
}
.nav-links a button {
  padding: 0.8rem 2rem;
  border-radius: 2.2rem;
  border: 1px solid #3e3734;
  font-size: 1.6rem;
}
.nav-links p {
  font-size: 1.6rem;
  padding-left: 4vw;
  text-decoration: none;
  color: #3e3734;
}

.nav-links div {
  padding-left: 4vw;
}
.nav-links div button {
  padding: 0.8rem 2rem;
  border-radius: 2.2rem;
  border: 1px solid #3e3734;
  font-size: 1.6rem;
}

.logo a img {
  height: 6rem;
  width: 17rem;
}
/*Hero search styling*/

.hero {
  display: flex;
  flex-direction: column;
}
.hero-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 15vw;
  background-color: #c7ddd1;
}
.hero-search-right img {
  height: 25rem;
  width: 33.25rem;
}

.hero-search-left div h2 {
  font-size: 3.7rem;
  color: #424f5a;
  max-width: 45vw;
  line-height: 4.7rem;
}

.hero-search-left div form input {
  padding: 0.8rem;
  border-radius: 1.8rem;
  width: 25vw;
  margin-right: 1rem;
  font-size: 1.6rem;
  border: none;
}

.hero-search-left div form button {
  padding: 0.8rem 2rem;
  border-radius: 2.2rem;
  border: 2px solid #424f5a;
  font-size: 1.6rem;
  border: none;
  background-color: #364250;
  color: #babec4;
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 4vh 15vw;
  background-color: #f5f5ef;
}
/*Categories section*/
.categories-section {
  background-color: #f5f5ef;
}
.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 4vh 15vw;
  background-color: #f5f5ef;
}
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: 17rem;
  height: 17rem;
  border-radius: 0.7rem;
  background-color: white;
  margin-bottom: 2vh;
  text-decoration: none;
  color: #3e3734;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.category-card div p {
  font-size: 1.6rem;
}

.categories-section div h3 {
  margin: 0;
  padding: 4vh 15vw;
  font-size: 1.8rem;
  color: #424f5a;
}

/*popular*/

.popular-section {
  background-color: #f5f5ef;
}

.popular-section-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 4vh 15vw;
  background-color: #f5f5ef;
}

.bookcard {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
  margin-bottom: 2vh;
  max-width: 19rem;
  margin-right: 2vw;
  text-decoration: none;
  color: #424f5a;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bookcard div img {
  width: 19rem;
  height: 25rem;
  border-radius: 0.7rem 0.7rem 0rem 0rem;
}

.bookcard-details {
  padding-left: 0.5rem;
}

.bookcard-details h3 {
  font-size: 1.2rem;
}

.popular-section-h3 {
  margin: 0;
  padding: 4vh 15vw;
  font-size: 1.8rem;
  color: #424f5a;
}

/*Footer styling*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 15vw;
  background-color: #c7ddd1;
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  font-size: 3rem;
  padding: 2vh 0;
}

.footer-links,
.footer-terms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  padding: 1vh 0;
  text-align: center;
}

.footer-terms {
  justify-content: space-between;
}
.footer-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #3e3734;
}

.footer-copy p {
  font-size: 1.2rem;
}

/*Bookpage */

.bookpage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vh 15vw;
}

.bookpage-left {
  display: flex;
  flex-direction: column;
}
.bookpage div img {
  height: 35rem;
  width: 25rem;
  margin-right: 5vw;
  border-radius: 0.7rem;
}

.bookpage div p {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.bookpage div h3 {
  font-size: 2.1rem;
}

.bookpage div h4 {
  font-size: 2.2rem;
  color: #c53c36;
}
.bookpage div h5 {
  font-size: 1.8rem;
}

.bookpage div button {
  background-color: #c53c36;
  margin-top: 1vh;
  border-radius: 0.3rem;
  padding: 1rem;
  color: white;
  border: none;
  width: 17rem;
  font-size: 1.4rem;
}

/*About page*/

.about-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*Responsive styling*/
@media only screen and (max-width: 768px) {
  .header {
    padding: 1vh 2vw;
    padding-left: 0;
  }

  .logo a img {
    height: 5rem;
    width: 15rem;
  }

  .nav-links div button {
    margin-left: 7vw;
  }

  .hero-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url("../assets/bookshelf_.png"); */
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    padding: 1vh 2vw;
  }

  .hero-search-right {
    display: none;
  }

  .hero-search-left {
    padding: 1vh 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-search-left div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-search-left div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-search-left div h2 {
    font-size: 3.7rem;
    color: #364250;
    max-width: 85vw;
    line-height: 4.7rem;
    text-align: center;
    margin-right: 0;
    padding: 0;
  }

  .hero-search-left div form input {
    padding: 0.8rem;
    border-radius: 1.8rem;
    width: 80vw;
    font-size: 1.6rem;
    border: none;
    margin-bottom: 2vh;
  }

  .hero-search-left div form button {
    width: 35vw;
  }

  /*Categories section */

  .categories-section {
    padding: 0;
  }

  .categories-section div h3 {
    padding: 0;
    text-align: center;
  }

  .categories {
    padding: 1vh 2vw;
  }

  .popular-section-cards {
    padding: 1vh 2vw;
  }

  .popular-section div h3 {
    text-align: center;
  }

  .bookcard div img {
    width: 15rem;
    height: 20rem;
  }

  .search-results {
    padding: 2vh 3vw;
  }

  /*Bookpage styling */

  .bookpage {
    flex-direction: column;
    padding: 2vh 7vw;
  }

  .bookpage div img {
    margin-right: 0;
  }

  .about-main {
    padding: 4vh 0;
  }

  .about-main div img {
    height: 40rem;
    width: 40rem;
  }

  .bookcard-details h3 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    text-align: left;
  }
}
